body {
  background-color: #def;
  margin: 0;
  padding: 0
}

body, td, div, li, p, span {
  font-family: tahoma, verdana, arial, sans-serif;
  font-size: 12px;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

div#top {
  background-color: #bbd;
  border-bottom: solid #335 2px;
  height: 35px
}

div#form-holder {
  text-align: center
}

input#analyze-code-button {
  width: 750px;
  padding: 5px;
  margin-top: 5px;
}

div#loading {
  text-align: center;
  font-size: 20px;
  font-weight: bold
}

table {
  border-left: solid #aaa 1px;
  margin-bottom: 10px;
}

td, th {
  border-right: solid #aaa 1px
}

td {
  padding: 0 3px
}

td.token,
td.module {
  text-align: center;
  font-weight: bold
}

tr.enabled {
  background-color: #bfb
}

th {
  padding: 0 15px
}

tr.disabled {
  background-color: #fbb
}

th.filter {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}

th.is-filtering {
  color: blue;
}

textarea#source {
  width: 750px;
  height: 250px;
  background: white url(php_goes_here-crushed.png) center center no-repeat;
}

div#footer {
  text-align: center;
  font-size: 10px;
  color: #555;
  font-style: oblique;
  border-top: solid #555 1px;
  padding-top: 5px;
  margin-top: 5px
}

span.ignore-code-holder {
  font-family: monospace
}

div#processing, div#code-announcement {
  text-align: center;
  font-size: 14px;
  font-weight: bold
}

div#code-announcement {
  border-bottom: solid #555 1px;
  margin-bottom: 5px
}

div#output {
  padding: 10px;
}